/* HEADER STYLES */

a {
  text-decoration: none;

  
}
body{
    background-color:#471396;
}

.center{
    text-align :center;

}

.heading nav{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10rem;
    align-items: space-evenly;
    background-color: #471396;
    color:white;
    padding:1.5rem;
    font-size: 20px;   
    
}

nav h3{
    font-weight: lighter;
}
nav h3:hover,
nav h3.active{
    border-bottom: 2px solid #FFCC00;
}


/* HOME PAGE STYLES */
h1{
    color:white;
    text-align: center;
    margin-top: 5rem;
}